<div class="container">
    <div class="row">
            <div class="col-4 mt-2 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer  d-flex p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Delete from wishlist</a></div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add To cart</a></div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!--empty wishlist-->
<div class="container  text-center p-5">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-wishlist-illustration-download-in-svg-png-gif-file-formats--online-shop-store-shopping-site-ecommerce-marketplace-states-pack-windows-interface-illustrations-9824483.png?f=webp" alt="">
   <p>Your wishlist was empty</p>
   <button class="btn btn-dark m-3">Explore More.....</button>
</div>

