<div class="row">
    <div class="col-8">
        <h3 class="text-center mt-5">Products in your cart</h3>
        <table class="table  my-5  shadow">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Product</th>
                <th scope="col">Image</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>

              </tr>

            </tbody>
          </table>
    </div>
    <div class="col-4">
        <h3 class="text-center m-3 mt-5">Cart Summary</h3>


        <div class="card  p-5 m-5">
            <h2 class="text-center">Total Price : $000</h2>
           <button class="btn btn-primary  m-3">CheckOut</button>
        </div>

    </div>

   
</div>
