*{
  font-family: "DM Serif Text", serif;
}

 .container-fluid {
  text-align: center;
  height: 50%;

}

.box h2 {
  font-family: auto;
  color: black;
  font-size: 2rem;
  background-color: aqua;
  padding: 1rem;
}

.box {
  height: 25rem;
  width: 31rem;
  background-color: #ffffff;
  border-radius: 9px;
  padding: 1rem;
  
}

.main-box {
  height: 44.2rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 3rem;
  align-items: center;
}

.box-3 {
  display: flex;
  justify-content: space-between;
}

.form-control {
  font-size: 1.1rem;
  border: 1px solid black;
}

#buttonsubmit {
  margin-left: 9rem;
  width: 11rem;
}

td i {
  font-weight: 900;
  padding-left: 0.1rem;
  cursor: pointer;
}


.table-container {
  width: 100%;
  overflow: auto;
  height: 459px;
}

.form-select {
  width: 14rem;
  font-size: 1.1rem;
  border: 1px solid black;
}

.custom-checkbox {
  width: 56px;
  height: 22px;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 7px;
}

.card-body {
  width: 50rem;
  height: 34rem;
}

#inputset {
  margin-left: 25rem;
}

.box-5 {
  display: flex;

}

#floatingTitle {

  width: 24rem;
  margin-left: 1rem;
}

.title-cell {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.card{
  width: 100%;
} 




