<div class="container">
    <div class="row">
        <div class="col-3 mt-3 mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                </div>
            </div>
                <!-- Product actions-->
                <div class="card-footer d-flex p-2 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Delete from wishlist</a></div>
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add To Cart</a></div>
                </div>
            </div>
            </div>

        </div>
</div>



<!-- empty wishlist -->

<div class="container text-center p-5">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFQgvHFjfooktmwEt8NYv8hiboqcNL7XbMXQ&s" alt="" height="200px" class="p-3 text-center">
    <p class="text-center">Your wishlist was empty</p>
    <button class="btn btn-dark m-3 btn-center"> Expolore More</button>
</div>
