<div class="row">
    <div class=" sidebar col-2 text-center">
        <p class="fw-bolder fs-6 m-5"><a class="text-decoration-none text-success" routerLink="/dashboard">Home</a></p>
        <p class="fw-bolder fs-6 m-5"><a class="text-decoration-none text-success" routerLink="/users">User</a></p>
    </div>
    <div class="col-9 d-flex justify-content-evenly">
        <div class="welcome box shadow bg-light w-50 mt-5 rounded p-3">
            <h1>Welcome {{adminName}}</h1>
        </div>
   
    <div class="admin text-center ">
        <div class="bg-light  shadow">
            <img src="https://t3.ftcdn.net/jpg/02/83/32/26/360_F_283322668_B764J1SBceSMF0Q5rCcIlGP8pbhhM9KN.jpg" 
            alt=""  width="100px" height="100px" class="m-5">
            <h6 class="p-5">Edit Admin details</h6>
        </div>
            
        <div class="shadow bg-light mt-5 shadow p-5">
            <h6>All Users</h6>
           </div>
     
    </div>
      

    </div>
</div>
