<div class="row">
    <div class=" sidebar col-2 text-center">
        <p class="fw-bolder fs-6 m-5"><a class="text-decoration-none text-success" routerLink="/dashboard">Home</a></p>
        <p class="fw-bolder fs-6 m-5"><a class="text-decoration-none text-success" routerLink="">User</a></p>
    </div>

<div class="col-8">
    <h1 class="m-5">Add User</h1>
<form (ngSubmit)="addUser()" class="p-5 m-5 shadow">
    <input [(ngModel)]="user.id" name="user.id"   type="text" class="form-control mb-3" placeholder="Id">
    <input [(ngModel)]="user.name" name="user.name" type="text" class="form-control mb-3" placeholder="Name">
    <input  [(ngModel)]="user.email"  name="user.email" type="text" class="form-control mb-3" placeholder="Email">
    <Label for="status">Select Status of User</Label>
    <select  [(ngModel)]="user.active" #status="ngModel" name="user.active"id="status" class="form-control">
        <option value="1">Active</option>
        <option value="0">InActive</option>
    </select>
    
    <div class="btn my-4">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

</div>
