@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


/* Weather Container*/
.container {
    
  background: #292b2c;
  color: #dbcfcf;
  padding: 1rem;
  width: 10%;
  margin: 4rem auto;
  border-radius: 10px;
  height: 1000px;
  background-image: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?cs=srgb&dl=pexels-pixabay-209831.jpg&fm=jpg');
  background-size: cover;
}



/* Header style*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  position: relative;
}

input.searchform{
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #e7d6d6;
  padding: 0.5rem;
  border-radius: 15px;
}

input.searchform::placeholder {
  color: #f6f9fa;
}

.searchform i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  color: #0d0000;
}

.search button {
  border: none;
  background-color:transparent;
  color: rgb(227, 232, 233);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.search button:hover {
  background-color: rgb(220,123,37);
}


/* Body styles */
.weatherbody {
  text-align: center;
  margin-top: 1rem;
  padding: 20px;
}

.weather_datetime {
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: bold;
  font-size: 14px;
  color: #0d0101;
}

.weather_forecast {
  background: #513016;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  font-weight: bold;
  color: #ccc;
}

.weather_icon img {
  width: 100px;
}

.weather_temperature {
  font-size: 1.75rem;
  text-align: center; /* Center align the temperature */
  margin-top: 1rem; /* Add some top margin for spacing */
  color: #0b0101; /* Change text color to white */
  font-weight: bolder;
}
/* Info styles */

.weather__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display two cards in each row */
  grid-gap: 1rem;
  margin-top: 3rem;
  border: #0b0101;
  
}




.weather_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:transparent;
  padding: 0.5rem; /* Reduced padding */
  border-radius: 15px;
  /* width: 10%; */
  border-color: .2px solid  rgb(227, 232, 233) ;

}

.weather_card p {
  font-size: 14px; /* Reduced font size */
  color: #f2c68e;
  font-weight: bold;
}