*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* header */
header{
    background-color: mediumvioletred;
    color: antiquewhite;
    text-align: center;
    padding: 20px;
}
/* nav section */
nav{
    background-color: rgba(199, 21, 134, 0.528) ;
    text-align: center;
    padding: 10px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 30px;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
/* main */
main{
    height: 500px;
    padding: 30px;
    background-color: rgba(137, 43, 226, 0.474);
}
main h2,h3{
        color: rgb(233, 34, 196);
        text-align: center;
        padding: 20px;
}
main p{
    color: beige;
    text-align: justify;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.col{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: rgba(137, 43, 226, 0.447);
}
.col p{
    padding: 10px;
}
footer{
    background-color: mediumvioletred;
    height: 50px;
}
footer p{
    text-align: center;
    padding: 20px;
    color: antiquewhite;
}

/* media query width 400px width*/

@media screen and(max-width:400px) {

    header{
        background-color: black;
    }
    body{
        width: 400px;
        margin: 0px;
        padding: 0px;

    }
  nav{
    width:400px;
    background-color: black;
    text-align: center;
    padding:5px;
  }
  nav ul{
    display: flex;
    text-align: center;
    padding: 10px;
  }

  nav ul li{
    list-style: none;
  }
  main{
    height: fit-content;
  }
  .row{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 1000px;
  }
 
  .col{
    width:300px;
  }
  footer{
    margin-top: 0px;
  }
}
